{% extends 'service/base.html' %}

{% block content %}
<div class="container text-center mt-5">
<h3 class="text-white" ><b>Стоимость и доступ</b></h3><br>
    <p class="text-white ">
        Наши услуги уникальны и требуют затраты значительных ресурсов, поэтому доступ к сервису платный! Чтобы скачать фотографии без водяных знаков(ватермарк) с досок объявлений по недвижимости, вам необходимо получить ваш личный ключ-доступа!<br><br>
        Cтоимость зависит от выбранного вами тарифа и начинается с 5 рублей за одно объявление. Т.е. за удаление водяных знаков со всех фотографий из одного объявления, не зависимо от их количества.<br><br></p>
    <h5 class="text-white ">Как получить ключ-доступа</h5>
<p class="text-white ">Если у вас нет ключа доступа - вам необходимо его получить! <br>Для этого:<br>
1. Откройте форму "Ключ доступа".<br>
2. Укажите ваш Email. ВНИМАТЕЛЬНО и без ошибок! На email будет отправлен ваш ключ доступа.<br>
3. Изучите и примите пользовательское соглашение, затем нажмите кнопку "выслать ключ".<br>
4. Дальнейшие инструкции и ваш ключ, будут отправлены на вами Email-адрес.<br><br></p>
    <h5 class="text-white ">Когда у Вас уже есть ключ доступа</h5>
<p class="text-white ">Если у вас уже есть ключ доступа - просто введите его в личном кабинете. Если баланс вашего ключа пуст, то для работы сервиса, вам необходимо его пополнить, выбрав подходящий тариф. После пополнения баланса, вы сможете скачать фото без водяных знаков, в том количестве объявлений которое указано в выбранном вами тарифе.</p>


</div>



{% endblock %}